* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #acb6e5;
  background-image: linear-gradient(to right, #acb6e5, #86fde8);
  font-family: "Lato", sans-serif;
  font-size: 18px;
  color: #232323;
}

.heading {
  text-align: center;
  font-size: 48px;
  margin-bottom: 30px;
  color: hsla(0, 0%, 28%, 0.3);
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 10% 15px 0;
}

.todo-list {
  list-style: inside none;
  max-width: 600px;
  margin: 0 auto;
}

.todo-item {
  padding: 20px 10px;
  cursor: pointer;
}

.todo-item:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.todo-item span {
  display: inline-block;
  position: relative;
  transition: transform 0.3s;
}

.todo-item:hover span {
  transform: translateX(10px);
}

.todo-item:not(:last-child) {
  border-bottom: 3px solid hsla(0, 0%, 50%, 0.3);
}

.todo-item.complete {
  opacity: 0.5;
}

.todo-item span::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #000;
  opacity: 0.5;
  transition: transform 0.4s;
  transform: scaleX(0);
  transform-origin: right;
}

.todo-item.complete span::after {
  transform: scaleX(1);
  transform-origin: left;
}
